In [ ]:
# 내 구글 드라이브에 연동
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
#sws = pd.read_csv('/content/drive/MyDrive/archive/sql_2_csv/student_worksheet_scoring.csv')
#wp = pd.read_csv('/content/drive/MyDrive/archive/sql_2_csv/worksheet_problem.csv')
#p = pd.read_csv('/content/drive/MyDrive/archive/sql_2_csv/problem.csv')
#s = pd.read_csv('/content/drive/MyDrive/archive/sql_2_csv/student.csv')
#sw = pd.read_csv('/content/drive/MyDrive/archive/sql_2_csv/student_worksheet.csv')
#pc = pd.read_csv('/content/drive/MyDrive/archive/sql_2_csv/problem_concept.csv')
#w = pd.read_csv('/content/drive/MyDrive/archive/sql_2_csv/worksheet.csv')

# worksheet_problem

## 필요한 데이터만 추출하기

In [ ]:
wp = pd.read_csv('/content/drive/MyDrive/archive/sql_2_csv/worksheet_problem.csv')

In [ ]:
wp.head()

In [ ]:
wp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99132042 entries, 0 to 99132041
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   id               int64
 2   worksheet_id     int64
 3   problem_id       int64
 4   ordering_number  int64
 5   type             int64
dtypes: int64(6)
memory usage: 4.4 GB

In [ ]:
wp.columns

Index(['Unnamed: 0', 'id', 'worksheet_id', 'problem_id', 'ordering_number',
       'type'],
      dtype='object')

In [ ]:
wp_ = wp[['id', 'worksheet_id', 'problem_id']]

In [ ]:
wp_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99132042 entries, 0 to 99132041
Data columns (total 3 columns):
 #   Column        Dtype
---  ------        -----
 0   id            int64
 1   worksheet_id  int64
 2   problem_id    int64
dtypes: int64(3)
memory usage: 2.2 GB

In [ ]:
wp_.to_csv('wp.csv')

# student_worksheet_scoring

## 필요한 데이터만 추출하기

In [ ]:
sws = pd.read_csv('/content/drive/MyDrive/archive/sql_2_csv/student_worksheet_scoring.csv')

In [ ]:
sws.head()

,Unnamed: 0,id,student_worksheet_id,worksheet_problem_id,result,update_datetime
0,0,22673,6915137,146873314,CORRECT,2020-10-25 15:08:06
1,1,22674,6915137,146873315,WRONG,2020-10-25 15:08:06
2,2,22675,6915137,146873316,WRONG,2020-10-25 15:08:06
3,3,22676,6915137,146873317,WRONG,2020-10-25 15:08:06
4,4,22677,6915137,146873318,WRONG,2020-10-25 15:08:06

In [ ]:
sws.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94515279 entries, 0 to 94515278
Data columns (total 6 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   id                    int64
 2   student_worksheet_id  int64
 3   worksheet_problem_id  int64
 4   result                object
 5   update_datetime       object
dtypes: int64(4), object(2)
memory usage: 4.2+ GB

In [ ]:
sws.columns

Index(['Unnamed: 0', 'id', 'student_worksheet_id', 'worksheet_problem_id',
       'result', 'update_datetime'],
      dtype='object')

In [ ]:
sws['result'].unique()

array(['CORRECT', 'WRONG', 'NONE', 'UNKNOWN'], dtype=object)

In [ ]:
sws_ = sws[(sws['result']=='CORRECT')|(sws['result']=='WRONG')]

In [ ]:
sws_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45646385 entries, 0 to 94513995
Data columns (total 6 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   id                    int64
 2   student_worksheet_id  int64
 3   worksheet_problem_id  int64
 4   result                object
 5   update_datetime       object
dtypes: int64(4), object(2)
memory usage: 2.4+ GB

In [ ]:
sws_.to_csv('sws.csv')

# student / 고3만 사용

In [ ]:
s = pd.read_csv('/content/drive/MyDrive/archive/sql_2_csv/student.csv')

In [ ]:
s.columns

Index(['Unnamed: 0', 'id', 'academy_id', 'school_type', 'grade', 'status'], dtype='object')

In [ ]:
s_h3 = s[(s['school_type']==3)&(s['grade']==3)]

In [ ]:
s_h3 = s_h3[['id']]

In [ ]:
s_h3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136133 entries, 0 to 526291
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      136133 non-null  object
dtypes: object(1)
memory usage: 2.1+ MB

# student_worksheet

In [ ]:
sw = pd.read_csv('/content/drive/MyDrive/archive/sql_2_csv/student_worksheet.csv')

In [ ]:
sw.columns

Index(['Unnamed: 0', 'id', 'worksheet_id', 'student_id', 'create_datetime',
       'open_datetime', 'solve_datetime'],
      dtype='object')

In [ ]:
sw_ = sw[['id', 'worksheet_id', 'student_id']]

# merge

## sws + sw_ = merge1

In [ ]:
sws = pd.read_csv('/content/sws.csv')

In [ ]:
sws.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45646385 entries, 0 to 45646384
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   Unnamed: 0.1          int64
 2   id                    int64
 3   student_worksheet_id  int64
 4   worksheet_problem_id  int64
 5   result                object
 6   update_datetime       object
dtypes: int64(5), object(2)
memory usage: 2.4+ GB

In [ ]:
sw_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4200108 entries, 0 to 4200107
Data columns (total 3 columns):
 #   Column        Dtype
---  ------        -----
 0   id            int64
 1   worksheet_id  int64
 2   student_id    object
dtypes: int64(2), object(1)
memory usage: 96.1+ MB

In [ ]:
merge = pd.merge(sws, sw_, left_on='student_worksheet_id', right_on='id')

In [ ]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45646385 entries, 0 to 45646384
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   Unnamed: 0.1          int64
 2   id_x                  int64
 3   student_worksheet_id  int64
 4   worksheet_problem_id  int64
 5   result                object
 6   update_datetime       object
 7   id_y                  int64
 8   worksheet_id          int64
 9   student_id            object
dtypes: int64(7), object(3)
memory usage: 3.7+ GB

In [ ]:
#세션 다운 merge = merge.dropna(axis=0)

In [ ]:
merge.to_csv('/content/drive/MyDrive/teamA/sws_sw.csv')

## merge1 + s_h3 = merge2

#### 고3만 걸러내기

In [ ]:
merge1 = pd.read_csv('/content/merge1.csv')

In [ ]:
# one to many join 어떻게 함?

In [ ]:
merge1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45646385 entries, 0 to 45646384
Data columns (total 11 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   Unnamed: 0.1          int64
 2   Unnamed: 0.1.1        int64
 3   id_x                  int64
 4   student_worksheet_id  int64
 5   worksheet_problem_id  int64
 6   result                object
 7   update_datetime       object
 8   id_y                  int64
 9   worksheet_id          int64
 10  student_id            object
dtypes: int64(8), object(3)
memory usage: 3.7+ GB

In [ ]:
s_h3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136133 entries, 0 to 526291
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      136133 non-null  object
dtypes: object(1)
memory usage: 2.1+ MB

In [ ]:
merge2 = pd.merge(merge1,s_h3,left_on='student_id',right_on='id',how='inner')

In [ ]:
merge2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11859751 entries, 0 to 11859750
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   Unnamed: 0.1          int64
 2   Unnamed: 0.1.1        int64
 3   id_x                  int64
 4   student_worksheet_id  int64
 5   worksheet_problem_id  int64
 6   result                object
 7   update_datetime       object
 8   id_y                  int64
 9   worksheet_id          int64
 10  student_id            object
 11  id                    object
dtypes: int64(8), object(4)
memory usage: 1.1+ GB

In [ ]:
merge2.head(3)

,Unnamed: 0,Unnamed: 0.1,id_x,student_worksheet_id,worksheet_problem_id,result,update_datetime,id_y,worksheet_id,student_id,id
0,0,0,22673,6915137,146873314,CORRECT,2020-10-25 15:08:06,6915137,5525992,I7951,I7951
1,1,1,22674,6915137,146873315,WRONG,2020-10-25 15:08:06,6915137,5525992,I7951,I7951
2,2,2,22675,6915137,146873316,WRONG,2020-10-25 15:08:06,6915137,5525992,I7951,I7951

In [ ]:
merge2.to_csv('/content/drive/MyDrive/teamA/merge2.csv')

## merge2 + wp = merge3

In [ ]:
wp = pd.read_csv('/content/wp.csv')

In [ ]:
merge2 = pd.read_csv('/content/merge2.csv')

In [ ]:
wp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99132042 entries, 0 to 99132041
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   Unnamed: 0    int64
 1   id            int64
 2   worksheet_id  int64
 3   problem_id    int64
dtypes: int64(4)
memory usage: 3.0 GB

In [ ]:
merge2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11859751 entries, 0 to 11859750
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   Unnamed: 0.1          int64
 2   Unnamed: 0.1.1        int64
 3   id_x                  int64
 4   student_worksheet_id  int64
 5   worksheet_problem_id  int64
 6   result                object
 7   update_datetime       object
 8   id_y                  int64
 9   worksheet_id          int64
 10  student_id            object
 11  id                    object
dtypes: int64(8), object(4)
memory usage: 1.1+ GB

In [ ]:
merge3 = pd.merge(merge2,wp,left_on='worksheet_problem_id',right_on='id',how='inner')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'id_x'} in the result is deprecated and will raise a MergeError in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
merge3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11859751 entries, 0 to 11859750
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0_x          int64
 1   Unnamed: 0.1          int64
 2   Unnamed: 0.1.1        int64
 3   id_x                  int64
 4   student_worksheet_id  int64
 5   worksheet_problem_id  int64
 6   result                object
 7   update_datetime       object
 8   id_y                  int64
 9   worksheet_id_x        int64
 10  student_id            object
 11  id_x                  object
 12  Unnamed: 0_y          int64
 13  id_y                  int64
 14  worksheet_id_y        int64
 15  problem_id            int64
dtypes: int64(12), object(4)
memory usage: 1.5+ GB

In [ ]:
merge3.to_csv('merge3.csv')

## merge3 + worksheet = merge4

In [ ]:
w = pd.read_csv('/content/drive/MyDrive/archive/sql_2_csv/worksheet.csv')

In [ ]:
merge3 = pd.read_csv('/content/drive/MyDrive/teamA/merge3.csv')

In [ ]:
w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3238590 entries, 0 to 3238589
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   id               int64
 2   type             int64
 3   school           int64
 4   grade            object
 5   level            int64
 6   delete_flag      int64
 7   create_datetime  object
dtypes: int64(6), object(2)
memory usage: 197.7+ MB

In [ ]:
merge3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11859751 entries, 0 to 11859750
Data columns (total 17 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   Unnamed: 0_x          int64
 2   Unnamed: 0.1          int64
 3   Unnamed: 0.1.1        int64
 4   id_x                  int64
 5   student_worksheet_id  int64
 6   worksheet_problem_id  int64
 7   result                object
 8   update_datetime       object
 9   id_y                  int64
 10  worksheet_id_x        int64
 11  student_id            object
 12  id_x.1                object
 13  Unnamed: 0_y          int64
 14  id_y.1                int64
 15  worksheet_id_y        int64
 16  problem_id            int64
dtypes: int64(13), object(4)
memory usage: 1.5+ GB

In [ ]:
merge3.head(3)

,Unnamed: 0,Unnamed: 0_x,Unnamed: 0.1,Unnamed: 0.1.1,id_x,student_worksheet_id,worksheet_problem_id,result,update_datetime,id_y,worksheet_id_x,student_id,id_x.1,Unnamed: 0_y,id_y.1,worksheet_id_y,problem_id
0,0,0,0,0,22673,6915137,146873314,CORRECT,2020-10-25 15:08:06,6915137,5525992,I7951,I7951,1225283,146873314,5525992,252454
1,1,6248,11629,11629,83242,6915136,146873314,CORRECT,2020-10-25 15:12:47,6915136,5525992,I7983,I7983,1225283,146873314,5525992,252454
2,2,1,1,1,22674,6915137,146873315,WRONG,2020-10-25 15:08:06,6915137,5525992,I7951,I7951,1225284,146873315,5525992,252438

In [ ]:
merge3.columns

Index(['Unnamed: 0', 'Unnamed: 0_x', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'id_x',
       'student_worksheet_id', 'worksheet_problem_id', 'result',
       'update_datetime', 'id_y', 'worksheet_id_x', 'student_id', 'id_x.1',
       'Unnamed: 0_y', 'id_y.1', 'worksheet_id_y', 'problem_id'],
      dtype='object')

In [ ]:
merge3 = merge3[['id_x', 'student_worksheet_id', 'worksheet_problem_id', 'result', 'update_datetime', 'student_id', 'worksheet_id_y', 'problem_id']]

In [ ]:
merge3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11859751 entries, 0 to 11859750
Data columns (total 8 columns):
 #   Column                Dtype
---  ------                -----
 0   id_x                  int64
 1   student_worksheet_id  int64
 2   worksheet_problem_id  int64
 3   result                object
 4   update_datetime       object
 5   student_id            object
 6   worksheet_id_y        int64
 7   problem_id            int64
dtypes: int64(5), object(3)
memory usage: 723.9+ MB

In [ ]:
merge4 = pd.merge(merge3,w,left_on='worksheet_id_y',right_on='id',how='inner')

In [ ]:
merge4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11859751 entries, 0 to 11859750
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   id_x                  int64
 1   student_worksheet_id  int64
 2   worksheet_problem_id  int64
 3   result                object
 4   update_datetime       object
 5   student_id            object
 6   worksheet_id_y        int64
 7   problem_id            int64
 8   Unnamed: 0            int64
 9   id                    int64
 10  type                  int64
 11  school                int64
 12  grade                 object
 13  level                 int64
 14  delete_flag           int64
 15  create_datetime       object
dtypes: int64(11), object(5)
memory usage: 1.5+ GB

In [ ]:
merge4.head(3)

,id_x,student_worksheet_id,worksheet_problem_id,result,update_datetime,student_id,worksheet_id_y,problem_id,Unnamed: 0,id,type,school,grade,level,delete_flag,create_datetime
0,22673,6915137,146873314,CORRECT,2020-10-25 15:08:06,I7951,5525992,252454,36035,5525992,0,3,고등수학(상),3,0,2020-10-13 18:32:57
1,83242,6915136,146873314,CORRECT,2020-10-25 15:12:47,I7983,5525992,252454,36035,5525992,0,3,고등수학(상),3,0,2020-10-13 18:32:57
2,22674,6915137,146873315,WRONG,2020-10-25 15:08:06,I7951,5525992,252438,36035,5525992,0,3,고등수학(상),3,0,2020-10-13 18:32:57

In [ ]:
merge4.columns

Index(['id_x', 'student_worksheet_id', 'worksheet_problem_id', 'result',
       'update_datetime', 'student_id', 'worksheet_id_y', 'problem_id',
       'Unnamed: 0', 'id', 'type', 'school', 'grade', 'level', 'delete_flag',
       'create_datetime'],
      dtype='object')

In [ ]:
merge4 = merge4[['id_x','student_worksheet_id','worksheet_problem_id','result','update_datetime',
                 'student_id','worksheet_id_y','problem_id','type','school','grade','level']]

In [ ]:
merge4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11859751 entries, 0 to 11859750
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   id_x                  int64
 1   student_worksheet_id  int64
 2   worksheet_problem_id  int64
 3   result                object
 4   update_datetime       object
 5   student_id            object
 6   worksheet_id_y        int64
 7   problem_id            int64
 8   type                  int64
 9   school                int64
 10  grade                 object
 11  level                 int64
dtypes: int64(8), object(4)
memory usage: 1.1+ GB

In [ ]:
merge4.to_csv('merge4.csv')

## merge4 + problem = merge5

In [ ]:
p = pd.read_csv('/content/drive/MyDrive/archive/sql_2_csv/problem.csv')

In [ ]:
merge4 = pd.read_csv('/content/merge4.csv')

In [ ]:
p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637528 entries, 0 to 637527
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          637528 non-null  int64
 1   id                  637528 non-null  int64
 2   problem_concept_id  637528 non-null  int64
 3   group_code          202578 non-null  float64
 4   level               637528 non-null  int64
 5   type                637528 non-null  int64
 6   correct_rate        637528 non-null  float64
 7   create_datetime     637528 non-null  object
 8   update_datetime     637528 non-null  object
dtypes: float64(2), int64(5), object(2)
memory usage: 43.8+ MB

In [ ]:
merge4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11859751 entries, 0 to 11859750
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   id_x                  int64
 1   student_worksheet_id  int64
 2   worksheet_problem_id  int64
 3   result                object
 4   update_datetime       object
 5   student_id            object
 6   worksheet_id_y        int64
 7   problem_id            int64
 8   type                  int64
 9   school                int64
 10  grade                 object
 11  level                 int64
dtypes: int64(8), object(4)
memory usage: 1.1+ GB

In [ ]:
merge5 = pd.merge(merge4,p,left_on='problem_id',right_on='id',how='inner')

In [ ]:
merge5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11859751 entries, 0 to 11859750
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0_x          int64
 1   id_x                  int64
 2   student_worksheet_id  int64
 3   worksheet_problem_id  int64
 4   result                object
 5   update_datetime_x     object
 6   student_id            object
 7   worksheet_id_y        int64
 8   problem_id            int64
 9   type_x                int64
 10  school                int64
 11  grade                 object
 12  level_x               int64
 13  Unnamed: 0_y          int64
 14  id                    int64
 15  problem_concept_id    int64
 16  group_code            float64
 17  level_y               int64
 18  type_y                int64
 19  correct_rate          float64
 20  create_datetime       object
 21  update_datetime_y     object
dtypes: float64(2), int64(14), object(6)
memory usage: 2.0+ GB

In [ ]:
merge5.head(3)

,id_x,student_worksheet_id,worksheet_problem_id,result,update_datetime_x,student_id,worksheet_id_y,problem_id,type_x,school,...,level_x,Unnamed: 0,id,problem_concept_id,group_code,level_y,type_y,correct_rate,create_datetime,update_datetime_y
0,22673,6915137,146873314,CORRECT,2020-10-25 15:08:06,I7951,5525992,252454,0,3,...,3,207602,252454,7471,2010.0,2,2,78.2441,2021-10-26 00:21:13,2021-10-26 20:36:53
1,83242,6915136,146873314,CORRECT,2020-10-25 15:12:47,I7983,5525992,252454,0,3,...,3,207602,252454,7471,2010.0,2,2,78.2441,2021-10-26 00:21:13,2021-10-26 20:36:53
2,23143,6931764,147305089,CORRECT,2020-10-15 20:19:03,I7951,5540742,252454,0,3,...,3,207602,252454,7471,2010.0,2,2,78.2441,2021-10-26 00:21:13,2021-10-26 20:36:53

In [ ]:
merge5.columns

Index(['Unnamed: 0_x', 'id_x', 'student_worksheet_id', 'worksheet_problem_id',
       'result', 'update_datetime_x', 'student_id', 'worksheet_id_y',
       'problem_id', 'type_x', 'school', 'grade', 'level_x', 'Unnamed: 0_y',
       'id', 'problem_concept_id', 'group_code', 'level_y', 'type_y',
       'correct_rate', 'create_datetime', 'update_datetime_y'],
      dtype='object')

In [ ]:
merge5 = merge5[['id_x', 'student_worksheet_id', 'worksheet_problem_id','result', 'update_datetime_x', 'student_id', 'worksheet_id_y',
       'problem_id', 'type_x', 'school', 'grade', 'level_x','problem_concept_id', 'group_code', 'level_y', 'type_y',
       'correct_rate']]

In [ ]:
merge5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11859751 entries, 0 to 11859750
Data columns (total 17 columns):
 #   Column                Dtype
---  ------                -----
 0   id_x                  int64
 1   student_worksheet_id  int64
 2   worksheet_problem_id  int64
 3   result                object
 4   update_datetime_x     object
 5   student_id            object
 6   worksheet_id_y        int64
 7   problem_id            int64
 8   type_x                int64
 9   school                int64
 10  grade                 object
 11  level_x               int64
 12  problem_concept_id    int64
 13  group_code            float64
 14  level_y               int64
 15  type_y                int64
 16  correct_rate          float64
dtypes: float64(2), int64(11), object(4)
memory usage: 1.6+ GB

In [ ]:
#램다운 merge5 = merge5.rename(columns={'level_x':'worksheet_level'})

In [ ]:
merge5.to_csv('merge5.csv')

## merge5 + problem_concept = merge6

In [ ]:
pc = pd.read_csv('/content/drive/MyDrive/archive/sql_2_csv/problem_concept.csv')

In [ ]:
merge5 = pd.read_csv('/content/merge5.csv')

In [ ]:
pc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9044 entries, 0 to 9043
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             9044 non-null   int64
 1   id                     9044 non-null   int64
 2   problem_curriculum_id  9044 non-null   int64
 3   school                 9044 non-null   int64
 4   grade                  9044 non-null   int64
 5   semester               9044 non-null   int64
 6   name                   9044 non-null   object
 7   sequence               9044 non-null   int64
 8   correct_rate           8849 non-null   float64
 9   create_datetime        9044 non-null   object
 10  update_datetime        9044 non-null   object
dtypes: float64(1), int64(7), object(3)
memory usage: 777.3+ KB

In [ ]:
merge6 = pd.merge(merge5,pc,left_on='problem_concept_id',right_on='id',how='inner')

In [ ]:
merge6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11859751 entries, 0 to 11859750
Data columns (total 28 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id_x                   int64
 1   student_worksheet_id   int64
 2   worksheet_problem_id   int64
 3   result                 object
 4   update_datetime_x      object
 5   student_id             object
 6   worksheet_id_y         int64
 7   problem_id             int64
 8   type_x                 int64
 9   school_x               int64
 10  grade_x                object
 11  level_x                int64
 12  problem_concept_id     int64
 13  group_code             float64
 14  level_y                int64
 15  type_y                 int64
 16  correct_rate_x         float64
 17  Unnamed: 0             int64
 18  id                     int64
 19  problem_curriculum_id  int64
 20  school_y               int64
 21  grade_y                int64
 22  semester               int64
 23  name                   object
 24  sequence               int64
 25  correct_rate_y         float64
 26  create_datetime        object
 27  update_datetime        object
dtypes: float64(3), int64(18), object(7)
memory usage: 2.6+ GB

In [ ]:
merge6.to_csv('/content/drive/MyDrive/teamA/merge6.csv')

## merge6 + problem_curriculum_concept_cache = merge7

In [ ]:
pccc = pc = pd.read_csv('/content/drive/MyDrive/archive/sql_2_csv/problem_curriculum_concept_cache.csv')

In [ ]:
merge6 = pd.read_csv('/content/drive/MyDrive/teamA/merge6.csv')

In [ ]:
pccc.columns

Index(['Unnamed: 0', 'trie_key', 'relation_type', 'relation_id',
       'relation_name', 'relation_sequence', 'revision_id', 'revision_name',
       'school_id', 'school_name', 'grade_id', 'grade_name', 'semester_id',
       'semester_name', 'subject_id', 'subject_name', 'big_chapter_id',
       'big_chapter_name', 'middle_chapter_id', 'middle_chapter_name',
       'little_chapter_id', 'little_chapter_name', 'concept_id',
       'concept_name'],
      dtype='object')

In [ ]:
merge6.columns

Index(['Unnamed: 0', 'id_x', 'student_worksheet_id', 'worksheet_problem_id',
       'result', 'update_datetime_x', 'student_id', 'worksheet_id_y',
       'problem_id', 'type_x', 'school_x', 'grade_x', 'level_x',
       'problem_concept_id', 'group_code', 'level_y', 'type_y',
       'correct_rate_x', 'Unnamed: 0.1', 'id', 'problem_curriculum_id',
       'school_y', 'grade_y', 'semester', 'name', 'sequence', 'correct_rate_y',
       'create_datetime', 'update_datetime'],
      dtype='object')

In [ ]:
merge7 = pd.merge(merge6,pccc,left_on='problem_curriculum_id',right_on='relation_id',how='inner')

In [ ]:
merge6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11859751 entries, 0 to 11859750
Data columns (total 29 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0             int64
 1   id_x                   int64
 2   student_worksheet_id   int64
 3   worksheet_problem_id   int64
 4   result                 object
 5   update_datetime_x      object
 6   student_id             object
 7   worksheet_id_y         int64
 8   problem_id             int64
 9   type_x                 int64
 10  school_x               int64
 11  grade_x                object
 12  level_x                int64
 13  problem_concept_id     int64
 14  group_code             float64
 15  level_y                int64
 16  type_y                 int64
 17  correct_rate_x         float64
 18  Unnamed: 0.1           int64
 19  id                     int64
 20  problem_curriculum_id  int64
 21  school_y               int64
 22  grade_y                int64
 23  semester               int64
 24  name                   object
 25  sequence               int64
 26  correct_rate_y         float64
 27  create_datetime        object
 28  update_datetime        object
dtypes: float64(3), int64(19), object(7)
memory usage: 2.6+ GB

In [ ]:
merge7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23719502 entries, 0 to 23719501
Data columns (total 53 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Unnamed: 0_x           int64
 1   id_x                   int64
 2   student_worksheet_id   int64
 3   worksheet_problem_id   int64
 4   result                 object
 5   update_datetime_x      object
 6   student_id             object
 7   worksheet_id_y         int64
 8   problem_id             int64
 9   type_x                 int64
 10  school_x               int64
 11  grade_x                object
 12  level_x                int64
 13  problem_concept_id     int64
 14  group_code             float64
 15  level_y                int64
 16  type_y                 int64
 17  correct_rate_x         float64
 18  Unnamed: 0.1           int64
 19  id                     int64
 20  problem_curriculum_id  int64
 21  school_y               int64
 22  grade_y                int64
 23  semester               int64
 24  name                   object
 25  sequence               int64
 26  correct_rate_y         float64
 27  create_datetime        object
 28  update_datetime        object
 29  Unnamed: 0_y           int64
 30  trie_key               object
 31  relation_type          object
 32  relation_id            int64
 33  relation_name          object
 34  relation_sequence      int64
 35  revision_id            float64
 36  revision_name          object
 37  school_id              float64
 38  school_name            object
 39  grade_id               float64
 40  grade_name             float64
 41  semester_id            float64
 42  semester_name          float64
 43  subject_id             float64
 44  subject_name           object
 45  big_chapter_id         float64
 46  big_chapter_name       object
 47  middle_chapter_id      float64
 48  middle_chapter_name    object
 49  little_chapter_id      float64
 50  little_chapter_name    object
 51  concept_id             float64
 52  concept_name           object
dtypes: float64(14), int64(22), object(17)
memory usage: 9.5+ GB

In [ ]:
merge7.head(3)

,Unnamed: 0_x,id_x,student_worksheet_id,worksheet_problem_id,result,update_datetime_x,student_id,worksheet_id_y,problem_id,type_x,...,subject_id,subject_name,big_chapter_id,big_chapter_name,middle_chapter_id,middle_chapter_name,little_chapter_id,little_chapter_name,concept_id,concept_name
0,0,22673,6915137,146873314,CORRECT,2020-10-25 15:08:06,I7951,5525992,252454,0,...,41.0,고등수학(상),369.0,도형의 방정식,1009.0,원의 방정식,3316.0,원의 방정식,NaN,NaN
1,0,22673,6915137,146873314,CORRECT,2020-10-25 15:08:06,I7951,5525992,252454,0,...,37.0,미적분 II,408.0,순열과 조합,1100.0,순열,3618.0,같은 것이 있는 순열,3316.0,같은 것이 있는 순열 - 조건이 있는 경우
2,1,83242,6915136,146873314,CORRECT,2020-10-25 15:12:47,I7983,5525992,252454,0,...,41.0,고등수학(상),369.0,도형의 방정식,1009.0,원의 방정식,3316.0,원의 방정식,NaN,NaN

In [ ]:
merge7.columns

Index(['Unnamed: 0_x', 'id_x', 'student_worksheet_id', 'worksheet_problem_id',
       'result', 'update_datetime_x', 'student_id', 'worksheet_id_y',
       'problem_id', 'type_x', 'school_x', 'grade_x', 'level_x',
       'problem_concept_id', 'group_code', 'level_y', 'type_y',
       'correct_rate_x', 'Unnamed: 0.1', 'id', 'problem_curriculum_id',
       'school_y', 'grade_y', 'semester', 'name', 'sequence', 'correct_rate_y',
       'create_datetime', 'update_datetime', 'Unnamed: 0_y', 'trie_key',
       'relation_type', 'relation_id', 'relation_name', 'relation_sequence',
       'revision_id', 'revision_name', 'school_id', 'school_name', 'grade_id',
       'grade_name', 'semester_id', 'semester_name', 'subject_id',
       'subject_name', 'big_chapter_id', 'big_chapter_name',
       'middle_chapter_id', 'middle_chapter_name', 'little_chapter_id',
       'little_chapter_name', 'concept_id', 'concept_name'],
      dtype='object')

In [ ]:
merge7 = merge7[['id_x', 'student_worksheet_id', 'worksheet_problem_id',
       'result', 'update_datetime_x', 'student_id', 'worksheet_id_y',
       'problem_id', 'type_x', 'school_x', 'grade_x', 'level_x',
       'problem_concept_id', 'group_code', 'level_y', 'type_y',
       'correct_rate_x','little_chapter_id',
       'little_chapter_name']]

In [ ]:
merge7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23719502 entries, 0 to 23719501
Data columns (total 19 columns):
 #   Column                Dtype
---  ------                -----
 0   id_x                  int64
 1   student_worksheet_id  int64
 2   worksheet_problem_id  int64
 3   result                object
 4   update_datetime_x     object
 5   student_id            object
 6   worksheet_id_y        int64
 7   problem_id            int64
 8   type_x                int64
 9   school_x              int64
 10  grade_x               object
 11  level_x               int64
 12  problem_concept_id    int64
 13  group_code            float64
 14  level_y               int64
 15  type_y                int64
 16  correct_rate_x        float64
 17  little_chapter_id     float64
 18  little_chapter_name   object
dtypes: float64(3), int64(11), object(5)
memory usage: 3.5+ GB

In [ ]:
merge7.to_csv('/content/drive/MyDrive/teamA/merge7.csv')

## merge6 + pccc_middle_chapter = merge_middle

In [ ]:
pccc = pc = pd.read_csv('/content/drive/MyDrive/archive/sql_2_csv/problem_curriculum_concept_cache.csv')

In [ ]:
merge6 = pd.read_csv('/content/drive/MyDrive/teamA/merge6.csv')

In [ ]:
merge_middle = pd.merge(merge6,pccc,left_on='problem_curriculum_id',right_on='relation_id',how='inner')

In [ ]:
merge_middle.columns

Index(['Unnamed: 0_x', 'id_x', 'student_worksheet_id', 'worksheet_problem_id',
       'result', 'update_datetime_x', 'student_id', 'worksheet_id_y',
       'problem_id', 'type_x', 'school_x', 'grade_x', 'level_x',
       'problem_concept_id', 'group_code', 'level_y', 'type_y',
       'correct_rate_x', 'Unnamed: 0.1', 'id', 'problem_curriculum_id',
       'school_y', 'grade_y', 'semester', 'name', 'sequence', 'correct_rate_y',
       'create_datetime', 'update_datetime', 'Unnamed: 0_y', 'trie_key',
       'relation_type', 'relation_id', 'relation_name', 'relation_sequence',
       'revision_id', 'revision_name', 'school_id', 'school_name', 'grade_id',
       'grade_name', 'semester_id', 'semester_name', 'subject_id',
       'subject_name', 'big_chapter_id', 'big_chapter_name',
       'middle_chapter_id', 'middle_chapter_name', 'little_chapter_id',
       'little_chapter_name', 'concept_id', 'concept_name'],
      dtype='object')

In [ ]:
merge_middle = merge_middle[['id_x', 'student_worksheet_id', 'worksheet_problem_id',
       'result', 'update_datetime_x', 'student_id', 'worksheet_id_y',
       'problem_id', 'type_x', 'school_x', 'grade_x', 'level_x',
       'problem_concept_id', 'group_code', 'level_y', 'type_y',
       'correct_rate_x','middle_chapter_id',
       'middle_chapter_name']]

In [ ]:
merge_middle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23719502 entries, 0 to 23719501
Data columns (total 19 columns):
 #   Column                Dtype
---  ------                -----
 0   id_x                  int64
 1   student_worksheet_id  int64
 2   worksheet_problem_id  int64
 3   result                object
 4   update_datetime_x     object
 5   student_id            object
 6   worksheet_id_y        int64
 7   problem_id            int64
 8   type_x                int64
 9   school_x              int64
 10  grade_x               object
 11  level_x               int64
 12  problem_concept_id    int64
 13  group_code            float64
 14  level_y               int64
 15  type_y                int64
 16  correct_rate_x        float64
 17  middle_chapter_id     float64
 18  middle_chapter_name   object
dtypes: float64(3), int64(11), object(5)
memory usage: 3.5+ GB

In [ ]:
merge_middle.to_csv('/content/drive/MyDrive/teamA/merge_middle.csv')

# 클러스터링 데이터 보기

In [ ]:
easy_exp = pd.read_csv('/content/drive/MyDrive/teamA/easy_exp.csv')

In [ ]:
easy_exp.groupby('student_id').count().reset_index()

,student_id,Unnamed: 0,little_chapter_name,little_chapter_id,level_y,result,update_datetime,update_datetime_x
0,I100008,143,143,143,143,143,143,143
1,I100067,32,32,32,32,32,32,32
2,I100168,11,11,11,11,11,11,11
3,I100652,62,62,62,62,62,62,62
4,I101743,239,239,239,239,239,239,239
...,...,...,...,...,...,...,...,...
2602,I99260,181,181,181,181,181,181,181
2603,I99362,416,416,416,416,416,416,416
2604,I99363,443,443,443,443,443,443,443
2605,I99616,234,234,234,234,234,234,234
2606,I99773,19,19,19,19,19,19,19